name: Deploy Event Driven Data Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Package Lambdas
        run: |
          cd lambdas/ingest_lambda
          zip -r ingest_lambda.zip lambda_function.py
          cd ../process_lambda
          zip -r process_lambda.zip lambda_function.py
          cd ../report_lambda
          zip -r report_lambda.zip lambda_function.py

      - name: Terraform Init & Apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
